@page "/SendEmail"
@inject IEmailService EmailService
@using BlazorApp1.Services
@using BlazorApp1.Model

<h3>Send Email</h3>
<label>Receiver:</label>
    <input @bind="Receiver" type="text"/>
    <label>Title:</label>
    <input @bind="Title" type="text"/>
    <label>Body:</label>
    <textarea @bind="Body"></textarea>
    <button @onclick="Send" class="acceptbtn">Send Email</button>
    <label> @message</label>

    
@code {
    private string Receiver;
    private string Title;
    private string Body;
    private string message = "";

    public void Send()
    {
        
        var newMail = new Email("Kateryna", Receiver, Title, Body);
        EmailService.SendEmail(newMail);
        message = "Email was sent";
        Console.WriteLine("New email sent.");
        

       
    }
}